<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mouse Brain Graph</title>

    <style type="text/css">
        container {
        margin: 0 auto;
        width: 740px;
        border: 1px solid #ddd;
        padding: 0 5px;
        text-align: left; /* Cancel IE Fix */
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>Mouse Brain Graph </h2>

<br>
<table>
    <tr>
        <td>Experiment</td>
        <td>{{exp}}</td>
    </tr>
    <tr>
        <td>Event</td>
        <td>{{event}}</td>
    </tr>
    <tr>
        <td>Annotation</td>
        <td>{{ann}}</td>
    </tr>
</table>
<br>

<a href="http://polaris.lsi.upc.edu:{{port}}/Experiment/{{exp}}">Go Back</a>


<br>
<br><form action="/Annotate/{{exp}}/{{event}}" method="post">
    <input type="text" name="annotation">
    <input type="submit" name="submit" value="Annotate">
            </form>
<br>

<img src="data:image/png;base64, {{ plot_url }}">


<a href="http://polaris.lsi.upc.edu:{{port}}/Experiment/{{exp}}">Go Back</a>
<br>
</body>
</html>